// Name:            Slidenav
// Description:     Component to create previous/next icon navigations
//
// Component:       `uk-slidenav`
//
// Sub-objects:     `uk-slidenav-container`
//
// Modifiers:       `uk-slidenav-previous`
//                  `uk-slidenav-next`
//
// ========================================================================


// Variables
// ========================================================================

$slidenav-padding:                               5px !default;
$slidenav-color:                                 fadeout($global-color, 40%) !default;

$slidenav-hover-color:                           fadeout($global-color, 20%) !default;

$slidenav-active-color:                          fadeout($global-color, 10%) !default;


/* ========================================================================
   Component: Slidenav
 ========================================================================== */

/*
 * Adopts `uk-icon`
 */

.uk-slidenav {
    padding: $slidenav-padding;
    color: $slidenav-color;
    @include hook-slidenav();
}

/* Hover + Focus */
.uk-slidenav:hover,
.uk-slidenav:focus {
    color: $slidenav-hover-color;
    outline: none;
    @include hook-slidenav-hover();
}

/* OnClick */
.uk-slidenav:active {
    color: $slidenav-active-color;
    @include hook-slidenav-active();
}


/* Icon modifier
 ========================================================================== */

/*
 * Previous
 */

.uk-slidenav-previous {
    @include hook-slidenav-previous();
}

/*
 * Next
 */

.uk-slidenav-next {
    @include hook-slidenav-next();
}


/* Container
 ========================================================================== */

.uk-slidenav-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include hook-slidenav-container();
}


// Hooks
// ========================================================================

@include hook-slidenav-misc();

// @mixin hook-slidenav(){}
// @mixin hook-slidenav-hover(){}
// @mixin hook-slidenav-active(){}
// @mixin hook-slidenav-previous(){}
// @mixin hook-slidenav-next(){}
// @mixin hook-slidenav-container(){}
// @mixin hook-slidenav-misc(){}


// Inverse
// ========================================================================

$inverse-slidenav-color:                        fadeout($inverse-global-color, 40%) !default;
$inverse-slidenav-hover-color:                  fadeout($inverse-global-color, 20%) !default;
$inverse-slidenav-active-color:                 fadeout($inverse-global-color, 10%) !default;

@mixin hook-inverse(){

    .uk-slidenav {
        color: $inverse-slidenav-color;
        @include hook-inverse-slidenav();
    }

    .uk-slidenav:hover,
    .uk-slidenav:focus {
        color: $inverse-slidenav-hover-color;
        @include hook-inverse-slidenav-hover();
    }

    .uk-slidenav:active {
        color: $inverse-slidenav-active-color;
        @include hook-inverse-slidenav-active();
    }

}

// @mixin hook-inverse-slidenav(){}
// @mixin hook-inverse-slidenav-hover(){}
// @mixin hook-inverse-slidenav-active(){}
