//
// Component: Placeholder
//
// ========================================================================


// Variables
// ========================================================================

$placeholder-background:                         transparent !default;

//
// New
//

$placeholder-border-width:                       $global-border-width !default;
$placeholder-border:                             $global-border !default;


// Component
// ========================================================================

@mixin hook-placeholder(){ border: $placeholder-border-width dashed $placeholder-border; }


// Miscellaneous
// ========================================================================

// @mixin hook-placeholder-misc(){}
